/* IMAGE SQUARE */
.image-square {
    display: flex;
    align-items: center;
    justify-self: center;
    overflow: hidden;
    border-radius: 4%;
    @include square (56px); 
}

.image-square--small {
   @include square (32px); 
}

.image-square--tiny {
   @include square(24px);
}

.image-square.has-border {
    border: 1px solid #dbdbdb;
}

.image-square.is-active {
    border: 2px solid #DD2A7C;
}

.image-square.is-active img {
    border: 1px solid #ffffff;
    border-radius: 100%;
}
